<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <form action="/users/resetPassword" method="post">
      {{>header}}
      <h2>Forgot Password</h2>
      <div class="input-field">
          <input type="email" name="email" id="email" placeholder="Enter email">
      </div>
      <input type="submit" value="Reset Password">

      <br>
      <a href="/users/signup">Not Registered? Signup Here</a>
      <br>
      <a href="/users/login">Log in</a>
    </form>
  </body>
</html>
