<!DOCTYPE html>

<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    {{>header}}
    <form method="post" action="/users/logout">
      <input type="submit" value="LogOut">
    </form>

    <p>Welcome to the Tool</p>


  </body>
</html>
