<!DOCTYPE html>

<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div>
      <h2>Welcome to PM Tool</h2>
       <a href="/projects">Projects</a>
      {{>logout}}
    </div>

  </body>
</html>
