<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>

  <body>
    <form action="{{process.env.HOST}}/users/updatePassword" method="post">
      {{>header}}
      <h2>Update Password</h2>
      <input type="hidden" name="email" id="email" value={{email}} >
      <input type="hidden" name="token" id="token" value={{token}} >

      <div class="input-field">
          <input type="password" name="password" id="password" placeholder="Enter Password">
      </div>
      <div class="input-field">
          <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Re-enter Password">
      </div>
      <input type="submit" value="Update Password">
    </form>
  </body>
</html>
