<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <form action="{{process.env.HOST}}/projects" method="post">
      {{>header}}
      <h2>Create new Project</h2>
      <div class="input-field">
          <input type="text" name="name" id="name" placeholder="Enter Name">
      </div>
      <div class="input-field">
          <textarea type="textarea" name="description" id="description" placeholder="Enter description"></textarea>
      </div>
      <div class="input-field">
          <input type="date" name="startDate" id="startDate" placeholder="Enter Start Date">
      </div>
      <div class="input-field">
          <input type="date" name="endDate" id="endDate" placeholder="Enter End Date">
      </div>

      <input type="submit" value="Create">

    </form>
  </body>
</html>
