<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>navbar}}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-3 d-none d-md-block"></div>
                <div class="col-6 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form action="{{process.env.HOST}}/projects" method="post">
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                        <span class="h3 fw-bold mb-0" style="color: #1b4bc5;">Create Project</span>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg" required/>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label">Description</label>
                        <textarea name="description" class="form-control form-control-lg"></textarea>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" >Start Date</label>
                        <input  type="date" name="startDate" class="form-control form-control-lg" placeholder="Select start date"/>
                      </div>
                      
                      <div class="form-outline mb-4">
                        <label class="form-label" >End Date</label>
                        <input type="date" name="endDate" id="endDate" class="form-control form-control-lg" placeholder="Select end date"/>
                      </div>

                      <div class="pt-1 mb-4">
                        <input class="btn btn-dark btn-lg btn-block" type="submit" value="Create">
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-3 d-none d-md-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
