<!DOCTYPE html>

<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    {{>header}}
    <div>
      <div>
        <h2>{{project.name}}</h2>
        <p><strong>Description: </strong>{{project.description}}</p>
        <p><strong>Start Date: </strong>{{project.startDate}}</p>
        <p><strong>End Date: </strong>{{project.endDate}}</p>
      </div>
      <div>
        <tr>
          <td><a href="/projects/new">Create Project</a></td>
        </tr>
      </div>
    </div>
    <br>
  </body>
</html>
