<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>header}}
      <div class="container py-4 h-100" style="margin-top: 10rem;">
        <div class="row d-flex justify-content-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="d-flex align-items-center">
                  <div class="card-body px-5 py-4 text-black">

                    <form action="{{process.env.HOST}}/users/resetPassword" method="post">
                      <p class="h3 fw-bold mb-3">Forget Password</p>
                      <p class="mb-3 mt-3">Enter your email address and we will send you further instructions on how to reset your password.</p>

                      <div class="form-outline mb-4">
                        <label class="form-label" name="email">Email address</label>
                        <input type="email" name="email" class="form-control form-control-lg" required/>
                      </div>

                      <div class="text-center" >
                        <input class="btn btn-primary px-3 mx-4" type="submit" value="Reset Password">
                        <a class="btn btn-light px-4 mx-3" href="{{process.env.HOST}}/users/login">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
