<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>header}}
      <div class="container py-4 h-100" style="margin-top: 7rem;">
        <div class="row d-flex justify-content-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="d-flex align-items-center">
                  <div class="card-body px-5 py-4 text-black">

                    <form action="{{process.env.HOST}}/users/login" method="post">

                      <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h3 fw-bold mb-0" >Login</span>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" name="email">Email address</label>
                        <input type="email" name="email" class="form-control form-control-lg" required/>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" >Password</label>
                        <input type="password" name="password" class="form-control form-control-lg" required/>
                      </div>

                      <a class="float-end" style="color: #82a9f1;" href="{{process.env.HOST}}/users/forgotPassword">Forgot password?</a>
                      
                      <div class="text-center mb-4 mt-5" >
                        <input class="btn btn-primary px-5" type="submit" value="Login">
                      </div>

                      <p class="float-start">Not a member? <a href="{{process.env.HOST}}/users/signup"
                          style="color: #82a9f1;">Register here</a></p>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
