<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>header}}
      <div class="container py-4 h-100" style="margin-top: 4rem;">
        <div class="row d-flex justify-content-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="d-flex align-items-center">
                  <div class="card-body px-5 py-4 text-black">
                    <div class="mb-4 text-center">
                      <h3>Become part of our community!</h3>
                    </div>
                    <form action="{{process.env.HOST}}/users" method="post">
                      
                      <span class="h3">Signup</span>

                      <div class="form-outline mb-4 mt-4">
                        <label class="form-label" name="email">Email address</label>
                        <input type="email" name="email" class="form-control form-control-lg" required/>
                      </div>

                      <div class="form-outline my-4">
                        <label class="form-label">Username</label>
                        <input type="text" name="name" class="form-control form-control-lg" required/>
                      </div>
                      
                      <div class="form-outline mb-4">
                        <label class="form-label">Role</label>
                        <select class="form-control form-control-lg" name="role" id="role" placeholder="Select Role" required>
                          <option selected>Select Role</option>
                          <option value="project-manager">Project Manager</option>
                          <option value="developer">Developer</option>
                          <option value="sqa">Sqa</option>
                        </select>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" >Password</label>
                        <input type="password" name="password" class="form-control form-control-lg" required/>
                      </div>
                      
                      <div class="form-outline mb-4">
                        <label class="form-label" >Confirm Password</label>
                        <input type="password" name="passwordConfirmation" class="form-control form-control-lg" required/>
                      </div>

                      <div class="text-center mb-4" >
                        <input class="btn btn-primary px-5" type="submit" value="Sign up">
                      </div>

                      <p class="float-start">Already member? <a href="{{process.env.HOST}}/users/login" style="color: #82a9f1;">Login now!</a></p>
                    </form>
                  </div>
                </div>
                <div class="col-3 d-none d-md-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
