<!DOCTYPE html>
<html>
  <head>
    <title>
      PM Tool
    </title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  </head>

  <body style="background-color: #aacae5;">
    <section>
      {{>header}}
      <div class="container py-4 h-100" style="margin-top: 10rem;">
        <div class="row d-flex justify-content-center h-100">
          <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="d-flex align-items-center">
                  <div class="card-body px-5 py-4 text-black">

                    <form action="{{process.env.HOST}}/users/updatePassword" method="post">

                      <span class="h3" >Reset Password</span>

                      <input type="hidden" name="email" id="email" value={{email}} >
                      <input type="hidden" name="token" id="token" value={{token}} >

                      <div class="form-outline mb-4 mt-4">
                        <label class="form-label" >Password</label>
                        <input type="password" name="password" class="form-control form-control-lg" required/>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" >Password Confirmation</label>
                        <input type="password" name="passwordConfirmation" class="form-control form-control-lg" required/>
                      </div>

                      <div class="text-center" >
                        <input class="btn btn-primary px-3 mx-4" type="submit" value="Update Password">
                        <a class="btn btn-light px-4 mx-3" href="{{process.env.HOST}}/users/login">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-3 d-none d-md-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
